.sponsored-container {
    background: linear-gradient(to right, rgb(232, 244, 255), #52cbff);
    padding: 0.5rem;
    margin: 0.5rem 0;

}

.sponsored-card-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sponsored-card {
    padding: 10px;
    margin: 0.5rem;
    width: 15%;
    height:15%;
    border-radius: 0.5rem;
    background-color: white;
    text-overflow: ellipsis;
}

.sponsored-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsored-img {
    object-fit: cover;
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
}

.sponsored-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    font-size: auto;
}

@media (max-width: 450px) {
    .sponsored-card {
        width: 40%; 
    
    }
}
@media (max-width: 360px) {
    .sponsored-card {
        width: 38%; 
    
    }
}